force-app/main/default/flows/Delete_Account_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Delete_Record_Action</name>
        <label>Delete Record Action</label>
        <locationX>754</locationX>
        <locationY>241</locationY>
        <actionName>DeleteRecord</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectAndIds</name>
            <value>
                <elementReference>infoList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_to_List</name>
        <label>Assign to List</label>
        <locationX>753</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>infoList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>infoList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Record_Action</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>accountRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Delete Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Account Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Choose_Account_Record</name>
        <label>Choose Account Record</label>
        <locationX>566</locationX>
        <locationY>62</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_List</targetReference>
        </connector>
        <fields>
            <name>Select_Accounts</name>
            <choiceReferences>accountRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Accounts</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Delete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>114</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>Choose_Account_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>infoList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
